[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "readabs"]
	path = readabs
	url = https://github.com/mattcowgill/readabs
[submodule "readrba"]
	path = readrba
	url = https://github.com/mattcowgill/readrba
